<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="./lib/angular.min.js"></script>
    <script src="./tasks.js" charset="utf-8"></script>
  </head>
  <body>
    <div ng-app="employeeTasks" ng-controller="TaskCtrl">
      <h1>New employee tasks</h1>
      <ul class="unstyled">
        <li ng-repeat="task in tasks">
          <input type="checkbox" ng-model="task.completed" ng-click="save()"> <span class="completed-{{task.completed}}">{{ task.title }}</span>
        </li>
      </ul>
    </div>
  </body>
</html>
